.app-title {
  font-family: "Fredoka One", cursive;
  color: blueviolet;
}

.btn-create {
  font-family: "Fredoka One", cursive;
  color: #00caca;
  background-color: #e7e7e7;
}

.btn-create:hover {
  color: #00caca;
  background-color: #d7d7d7;
}

.home {
  text-align: center;
  background-color: #121122;
}

.btn-action {
  display: inline-block;
  margin-left: 10px;
}
